html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin: 10px 0;
    padding: 0;
    text-align: left;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
    position: relative;
    background: pink;
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
}